body {
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.tmpl {
    position: fixed;
}

.mint-tabbar {
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    background-color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: center;
}